body{
    background:  linear-gradient(to right, white , black);
}
.accesorio,.piezas{
    height: 200px;
    padding: 5em;
}
.span-accesorio{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
.span-pieza{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.accesorio{
    background-image: url('../img/accesorioback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.piezas{
    background-image: url('../img/piezaback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.accesorio:hover{ 
    border: 2px solid white;
}
.bicicletas:hover{ 
    border: 2px solid white;
}
.piezas:hover{ 
    border: 2px solid white;
}
