*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.submenu{
    background-color: #FDAB00;
    display: block;
}
.submenu ul li a{
    color:black;
    text-decoration: none;
}
.submenu ul li i{
    margin-right: 12px;
    top: 2px;
    color: black;
}
.submenu ul li{
    display: inline-block;
    width: 25.5%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 7px 0;
    letter-spacing: 1px;
    border-right: 1px solid black;
}
ul{
    margin: 0;
    padding: 0;
    display: block;
}
@media(min-width:360px){
    .submenu ul li i{
        margin-right: 3px;
        top: 2px;
        color: black;
    }
    .submenu ul li{
        display: inline-block;
        width: 32.2%;
        padding:7px 0;
        border-right: 0px solid;
    }
}
.navprincipal {
    height: 37px;
    line-height: 37px;
    background-color: #FDAB00;
}
.logo{
    height: 35px;
}
#wrapper{
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}
.navprincipal  .brand-logo a{
    letter-spacing: 1px;
    font-size: 1.4em;
}
#b{
    background-color: white;
    color:black;
    padding: 0 17px;
    font-weight: bold;

}
.layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}
.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}
.layer .content-body{
    width: 25%;
    position: absolute;
    top:50%;
    text-align: center;
    transform: translateY(-50%);
    color:white;
}
/* para centrar la imagen */
.layer img{
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.layer h1{
    font-size: 2em;
}
.bottom{
    background: #222;
    z-index: 1;
}
/* para poner el texto a la derecha */
.bottom .content-body{
    right: 5%;
    z-index: 1;
}
.bottom h1{
    color:white;
}
.top{
    color:#222;
    z-index: 2;
    width: 50vw;
}
.top h1{
    color: #FDAB00;
}
.top .content-body{
    left: 5%;
    color:white;
    z-index: 1;
}
.handle{
    position: absolute;
    height:100%;
    display: block;
    background-color: #FDAB00;
    width: 5px;
    top:0;
    left: 50%;
    z-index: 3;
}
.skewed .handle{
    top:50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}
.skewed .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px)
}
.skewed .top .content-wrap{
    transform: skew(30deg);
    margin-left: 1000px;
}
@media(max-width:768px){
    body{
        font-size: 75%;
    }
}
.ventas{
    height: 100%;
    padding-bottom: 15px;
    background-color:black;
}
h3{
    margin: 0;
    color: #FDAB00;
    text-align: center;
}
h6{
    color: white;
    margin-bottom:20px; 
    text-align: center;

}
.card .card-image img{
    height: 230px;
}
.card-title{
    color:#f8bbd0;
}
.card-content{
    background-color:white;
}
.card-butttoms{
    background-color: #FDAB00;
}
.izquierda{
    background-color:#FDAB00;
}
.derecha{
    background-color: #FDAB00;
}
.pagination li.active {
    background-color: transparent;
    color:#FDAB00;
  }
.pagination li a{
    color:white;
}  
.parallax-container {
    height: 300px;
}
.nosotros{
    height: 100vh;
    background-image: url('../img/bici5.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}
.contenedor{
    background-color: rgba(48, 49, 49, 0.4);
    margin-top:60px;
    border-radius: 30px ;
    border:1px solid white;
}
@media(max-width:768px){
    .contenedor{
        margin-top:5px;
    }
}
.texto{
    padding: 2em;
    color:white;
}
#suscribete{
    margin: 10px;
    text-transform: none;
}
.noticias{
    height: 50%;
    background-color:black;
}
.noticias h4{
    color:#FDAB00;
}
.eventos{
    height: 50%;
    background-image: url('../img/bici7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.actividadesTitulo h4{
    margin: 0;
    text-align: center;

}
.eventos h4{
    color:#FDAB00
}
.titulo{
    padding-top: 20px;
    text-align: center;
}
#footer{
    background-color: black;
}
.creditos{
    border-top: 1px solid #FDAB00;
    font-style: bold;

}
.page-footer  h6{
    color: #FDAB00;
}
.page-footer  p{
    color: white;
    font-style: bold;
    padding: 2em;
}
.nomargin{
    margin:0;
}
.contenedorEventos{
    background-color: rgba(48, 49, 49, 0.4);
    margin-top:30px;
    margin-bottom:30px;
}
/* modal */
.modal{
    background-color: black;
    border-radius: 5px;
}
.modal .modal-footer{
    background-color: black;

}
.modal-footer a{
    color:white;
}
.modal h4{
color: #FDAB00;
letter-spacing: 3px;

}
.modal p {
    color:white;
    font-style: bold;
}
.entra-btn{
    border: none;
    padding: 0px 40px 0px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin-bottom:10px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #FDAB00;
    color: #fff;
}
.imgEntra{
    width: 100%;
    height: 300px;
}
.social-nav a {
    margin-top:20px;
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.model-3d-0 a {
    background:#5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
	color:#212121;
	font-size:12px;
}
.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
a.twitter .front {
    background: #73e6f5;
}
a.facebook .front {
    background: #3b5998;
}
a.instagram .front {
    background: #eb45b3;
}
a.linkedin .front{
    background: #51adbd;
}
.twitter .back,.facebook .back,.instagram .back,.linkedin .back{
    background:#fff;
}
.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
/* formulario */
.input-field label{
    color:white;
}
input[type=text]{
    color:white;
}
input[type=password]{
    color:white;
}
span{
    color:white;
}
/* overlay */
.equipo{
    background-color: grey;

}
.equipo .row2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
}
.equipo .titulo{
    color:black;
}
.dulce{
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.dulceImg{
    display: block;
    width: 100%;
    height: 300px;   
}
@media(max-width:390px){
    .dulceImg{
        width: 100%;
        height: 200px;   
        margin-bottom:10px;
    }
}
@media(max-width:300px){
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.contacto{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  
.dulce:hover .overlay {
    height: 70%;
}
.john:hover .overlay {
    height: 70%;
}
/* testtimonios */
.descrip_testimonial{
    margin: 50px;
    padding: 5em;
}
.carousel-color{
    background-color: #FDAB00;
}
.whites h2{
    color:black;
}
.blacks h2{
    color:white;
    background-color: black;
}
.whites p{
    color:black;
}
.blacks p{
    color:white;
}
@media(max-width:390px){
    .descrip_testimonial{
        padding: 4em;
    }
}