*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding: 0;
    margin:0;
    background-image: url('../img/back.png');
    background-size: cover;
    background-repeat: no-repeat; 
}
.registro{
    margin-top: 5%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    /* background-image: url('../img/bici5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat; 
    background-color:  rgba(66, 66, 66, 0.5);
}

.registro .footer{
    /* background-color: black; */

}
.footer a{
    color:white;
}
.btn-salir{
    margin:10px;
}
.registro h4{
color: #FDAB00;
letter-spacing: 3px;
text-align: center;

}
.registro p {
    color:white;
    font-style: bold;
    margin-bottom: 10px;
}
.entra-btn{
    border: none;
    padding: 0px 40px 0px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #FDAB00;
    color: #fff;
}
.imgEntra{
    width: 100%;
    height: 300px;
}
.fab{
    line-height: 2;
}
.social-nav a {
    margin-top:20px;
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.model-3d-0 a {
    background:#5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
	color:#212121;
	font-size:12px;
}
.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
a.twitter .front {
    background: #73e6f5;
}
a.facebook .front {
    background: #3b5998;
}
a.instagram .front {
    background: #eb45b3;
}
a.linkedin .front{
    background: #51adbd;
}
.twitter .back,.facebook .back,.instagram .back,.linkedin .back{
    background:#fff;
}
.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
/* formulario */
.input-field label{
    color:white;
}
input[type=text]{
    color:white;
    border-bottom: 1px solid black;
}
input[type=password]{
    color:white;
}
span{
    color:white;
}
::placeholder{
    color:white;
    font-weight: bold;
}
.errorsito{
    color:red;
    font-weight: bold;
    margin:10px;
}