#bicileta{}
#pieza{}
body{
    /* background-image: url('../img/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
   background:  linear-gradient(to right, white , #26a69a);
}
.nav{
    margin-bottom:100px;
    background-color:transparent;
}
.sidenav{
    background-color: black;
}
.sidenav li a{
    color:white;
}
.user-view{
    background-color: #FDAB00;
}
.sidenav .material-icons{
    color:white;
}
.collapsible{
    margin:0;
    padding: 0;
}
.collapsible div{
    color:white;
}
.collapsible-body span{
    color:black;
    text-align: center;
    padding: 15px;

}
.cerrarmargin{
    margin-top: 130%;
}
.publicar{
    background-color: white;
    color:black;
    border-bottom: 1px solid black;

}
.publicar_boton{
    background-color: green;
    margin:5px;
}
.buttom-menu{
    z-index: 1;
}
.icono_menu{
    color:black;
    font-size: 30px;
    background-color: white;
}
.public_icon{
    padding: 2em;
    text-align: center;
    background-color:white;
}
.public_icon p{
    color:black;
}
.icon{
    font-size:100px;
    color:#8bc34a;
    margin-top:15px;
}
@media(max-width:360px){
    .public_icon{
        padding: 0;
    }
    .icon{
        font-size: 50px;
    }
}
@media(max-width:375px){
    .public_icon{
        padding: 0;
    }
    .icon{
        font-size: 50px;
    }
}
.public_icon a{
    color:white;
    font-weight: bold;

}
#publicaciones h1{
 text-align: center;
 font-size:35px;
 font-weight: bold;
 color:white;

}
table{
    background-color: transparent;
    background-color:  rgba(66, 66, 66, 0.5);

}
table td,th,thead,tbody{
    color:white;
}
/* .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
