
body{
    background-image: url('../img/bici6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.nav{
    margin-bottom:100px;
    background-color:transparent
}
.sidenav{
    background-color: black;
}
.sidenav li a{
    color:white;
}
.user-view{
    background-color: #FDAB00;
}
.sidenav .material-icons{
    color:white;
}
.collapsible{
    margin:0;
    padding: 0;
}
.collapsible div{
    color:white;
}
.collapsible-body span{
    color:black;
    text-align: center;
    padding: 15px;

}
.cerrarmargin{
    margin-top: 130%;
}
.publicar{
    background-color: white;
    color:black;
    border-bottom: 1px solid black;

}
.publicar_boton{
    background-color: green;
    margin:5px;
}
.buttom-menu{
    z-index: 1;
}
.icono_menu{
    color:black;
    font-size: 30px;
    background-color: white;
}
.public_icon{
    padding: 2em;
    text-align: center;
    background-color:black;
}
.icon{
    font-size:100px;
    color:#FDAB00;
}
@media(max-width:360px){
    .public_icon{
        padding: 0;
    }
    .icon{
        font-size: 50px;
    }
}
@media(max-width:375px){
    .public_icon{
        padding: 0;
    }
    .icon{
        font-size: 50px;
    }
}
.public_icon a{
    color:white;
    font-weight: bold;

}
#publicaciones h1{
 text-align: center;
 font-size:35px;
 font-weight: bold;
 color:white;

}
table{
    background-color: transparent;
}
table td,th,thead,tbody{
    color:white;
}